h1{
	text-align: center;
	font-family: Consolas, serif;
	color: #009FFF;
	font-size: 60px;
	
}

#header-text {
	text-align: center;
	top: 21%;
	width: 90%;
	margin: 0 auto;
	position: relative;
}

p {
	font-size: 120%;
	color: #1b41a6;
	font-family: Monaco, serif;
	column-count: 2;
	text-wrap: ;
}

ul {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	color: #11329a
}

h2 {
	text-align: center;
	font-family: Arial, serif;
	color: #0aaffe;
	font-size: 232%;
}

.header {
	background-position: center center;
	background-size: cover;
	
}
}

h3{
	font-size: 150%;
	color: #5e42d4;
}

h4{
	text-align: center;
	font-family: Consolas, serif;
	color: #ffac14;
	font-size: 400%;
}

html{
	background-color: black;
}

body{
	background-color: #0026CDl;
	background-color: grey;
}